  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">A propos de Formation Educateur Canin</h5>
          <p class="grey-text text-lighten-4">Voila 30 ans que je pratique ce métier et cette passion, et je crois pouvoir me permettre de rétablir la réalité sur ce qu’est un éducateur canin ou plus exactement sur ce qu’il devrait être.</p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <ul>
            <li><a class="white-text" href="/contact">Contactez Nous</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Made by <a target="_blank" class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                <span style="text-align: right; float: right">
                Copyright © 2018 Formation Educateur Canin
                </span>
            </div>
        </div>
    </div>
</footer>
